body {
  background-color: #f5f6f5;
  .animasi {
    position: relative !important;
    transform: translateY(150px);
    opacity: 0;
    transition: all 0.7s ease;
  }
  .animasi.show {
    transform: translateY(0);
    opacity: 1;
  }
  h2.info {
    font-family: "Dancing Script", cursive;
    font-weight: 700;
    text-align: center;
    color: black;
  }

  section.jumbocover {
    background-image: url("http://localhost:8080/assets/img/wedding-pose-1.jpg");
    background-size: cover;
    display: none;
    position: fixed;
    width: 100% !important;
    height: 768px !important;
    max-height: 100%;
    z-index: 10;
    bottom: 0;
    div.bg-cover {
      background-color: rgba(52, 58, 64, 0.7) !important;
      height: 768px;
    }
    img.welcome {
      max-width: 405px;
      max-height: 280px;
    }
    h2.invited {
      font-family: "Dancing Script", cursive;
      font-weight: 700;
      text-align: center;
      color: white;
      font-size: 3rem;
    }
    h3.invited {
      font-family: "Dancing Script", cursive;
      font-weight: 700;
      text-align: center;
      color: white;
      font-size: 2rem;
    }
    div.arah-bawah {
      color: white;
      font-size: 3rem;
    }
    button.open-invitation {
      background-color: #cda56b !important;
      border-color: #c1975a !important;
      padding-right: 10px !important;
      padding-left: 10px !important;
    }
    button.open-invitation:hover {
      background-color: #6c757d !important;
      border-color: #6c757d !important;
    }
  }

  section.home {
    background-image: url("http://localhost:8080/assets/img/wedding-pose-1.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: auto;
    div.row {
      div.col-12 {
        background-color: rgba(52, 58, 64, 0.7);
        height: 104.7vh;
        img.couple-name {
          max-width: 40vw;
          max-height: 40vh;
          display: block;
        }
        h1.name {
          font-family: "Rouge Script", cursive;
          font-size: 5rem;
          font-weight: 700;
          color: white;
          display: flex;
          justify-content: center;
          margin-top: -50px;
        }
        p.date {
          font-size: 1.4rem;
          font-weight: 600;
          color: white;
          display: flex;
          justify-content: center;
        }
        p.kepada {
          text-align: center;
          color: white;
          font-weight: 600;
        }
        h2.tamu {
          font-family: "Dancing Script", cursive;
          font-weight: 700;
          text-align: center;
          color: white;
        }
        p.alamat {
          text-align: center;
          color: white;
          font-weight: 600;
        }
      }
    }

    div#particles-js {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      display: flex;
      justify-content: center;
    }
    div.triangle {
      height: 80px;
      width: 100%;
      background-image: linear-gradient(
          to bottom right,
          transparent 50%,
          #be955a 51%
        ),
        linear-gradient(to top right, transparent 50%, #be955a 51%),
        linear-gradient(to bottom left, transparent 50%, #cca56b 51%),
        linear-gradient(to top left, transparent 50%, #cca56b 51%);
      background-position: 0 0, 0 100%, 100% 0, 100% 100%;
      background-size: 50.3% 50%;
      background-repeat: no-repeat;
      position: absolute;
      right: 0;
      bottom: -70px;
      z-index: 4;
    }
    div.informasi {
      z-index: 3;
      background-color: #f5f6f5 !important;
      // width: 100% !important;

      .container {
        margin-bottom: 30vh;
      }

      h2.info {
        font-family: "Dancing Script", cursive;
        font-weight: 700;
        text-align: center;
        color: black;
        margin-top: 20vh;
        margin-bottom: 6vh;
      }

      img.wave-1 {
        transform: rotate(180deg);
      }
    }
  }

  section.couple {
    div.row {
      div.col-md-12 {
        h1.couple {
          font-family: "Dancing Script", cursive;
          font-weight: 700;
          text-align: center;
          font-size: 3rem;
        }
      }
      div.col-lg-4 {
        .card {
          border: none !important;
          .card-header {
            border: none !important;
            background-color: #f5f6f5;
          }
          .card-body {
            background-color: #f5f6f5;
          }
          .card-footer {
            background-color: #f5f6f5;
            border: none !important;
          }
          img.pria {
            max-width: 20vw;
            background-image: url("http://localhost:8080/assets/img/pria.jpg");
            background-size: 20vw;
          }
          img.wanita {
            max-width: 20vw;
            background-image: url("http://localhost:8080/assets/img/wanita.jpg");
            background-size: 20vw;
          }
        }
      }
    }
  }

  footer.navigasi {
    z-index: 8;
    div {
      a {
        color: white !important;
      }
    }
  }
}
